<!DOCTYPE html>
<html>
<head>
	<title>Ok I'm here now what</title>
</head>
<body>
	<h1>Please work</h1>
	<button onclick="getColors(printResponse)"></button>
	<p id="colors"></p>
	<script type="text/javascript">
		function getColors(callback) {
			var xmlHttp = new XMLHttpRequest();
	        xmlHttp.onreadystatechange = function() { 
	            if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
	                callback(xmlHttp.responseText);
	        }
	        xmlHttp.open("GET", "https://salty-cliffs-12768.herokuapp.com/colors", true); // true for asynchronous 
	        xmlHttp.send(null);
		}
		function printResponse(response) {
			var myText = JSON.parse(response);
			document.getElementById('colors').innerHTML = response;
		}
	</script>
</body>
</html>